@use 'src/styles/fonts.scss';

.page-container {
  overflow: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container h1 {
  font-family: Roboto-Regular;
  font-size: 60px;
  color: var(--text-color);
  margin: 0;
}

.page-container h2 {
  font-family: Roboto-Light;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.page-container a {
  color: var(--primary-color);
  text-decoration: none;
}

.page-container a:hover {
  filter: brightness(80%);
}

.page-container img {
  height: 80px;
  width: 80px;
}

.header-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-container {
  margin-left: 20px;
  max-width: 320px;
}

.button {
  margin-top: 10px;
}

.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 240px;
}

.section-title {
  font-family: Roboto-Regular;
  font-size: 60px;
  color: var(--text-color);
  margin: 0;
}

.about-text-container {
  margin-left: 60px;
  max-width: 600px;
}

.about-text-container h2 {
  font-size: 18px;
}

.logos-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.logos-container img {
  margin-top: 30px;
}

@media only screen and (max-width: 800px) {
  .logo {
    height: 60px;
    width: 60px;
  }

  .section-container {
    padding: 0px 30px 0px 30px;
  }

  .text-container h1 {
    font-size: 40px;
  }
}
