.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 30px 60px;
}

.container a {
  font-family: Roboto-Light;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
}

.container a:hover {
  color: var(--primary-color);
  cursor: pointer;
}
