.button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-family: Roboto-Medium;
  font-size: 18px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
