@import '~antd/dist/antd.css';

/* Antd Overrides */

/* Modal */
.ant-modal-header {
  background: var(--bg-color);
  border-color: var(--bg-color);
}
.ant-modal-title {
  color: var(--text-color);
}
.ant-modal-close-x {
  color: var(--text-color);
}
.ant-modal-close-x:hover {
  filter: brightness(80%);
}
.ant-modal-content {
  background: var(--bg-color);
}
.ant-modal-footer {
  border-color: var(--bg-color);
}
.ant-select-dropdown {
  color: var(--text-color);
  background-color: var(--bg-color);
}
.ant-select-item {
  color: var(--text-color);
  background-color: var(--bg-color);
}
.ant-select-item:hover {
  color: var(--primary-color);
}
.ant-select-item-option-selected {
  color: var(--text-color);
  background-color: var(--bg-color);
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: var(--primary-color);
  background-color: var(--bg-color);
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: var(--primary-color);
  background-color: var(--bg-color);
}
.ant-select-selector:hover {
  border-color: var(--primary-color);
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  border-color: var(--primary-color);
}

/* Button */
.ant-btn-primary {
  color: #fff;
  border-color: var(--gradient-left);
  background: var(--gradient-left);
}
.ant-btn:hover,
.ant-btn:active,
.ant-btn:focus {
  border-color: var(--gradient-left);
  background: var(--gradient-left);
  color: var(--text-color);
}
.ant-btn-primary:hover,
.ant-btn-primary:active,
.ant-btn-primary:focus {
  border-color: var(--gradient-left);
  background: var(--gradient-left);
  filter: brightness(80%);
}

/* Input */
.ant-input,
.ant-input-number {
  background: var(--bg-color);
  color: var(--text-color);
}
.ant-input:focus,
.ant-input:hover,
.ant-input-number:focus,
.ant-input-number:hover {
  border-color: var(--gradient-left);
}

/* Solana Wallet Adapter Overrides */
.wallet-adapter-button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-radius: 30px;
  padding: 6px 24px;
  text-transform: lowercase;
  font-family: Roboto-Medium;
  font-size: 18px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.wallet-adapter-button:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

html,
body {
  background: var(--bg-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}
