.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 25px 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-family: Roboto-Medium;
  font-size: 32px;
  margin: 0px 0px 10px 0px;
  color: var(--bg-color);
}

.container h2 {
  font-family: Roboto-Medium;
  font-size: 20px;
  margin: 0px 0px 10px 0px;
  color: var(--bg-color);
}

.container h3 {
  font-family: Roboto-Medium;
  font-size: 16px;
  margin: 0px;
  color: var(--bg-color);
}

.left-col {
  display: flex;
  flex-direction: column;
}

.right-col {
  display: flex;
  flex-direction: column;
}

.right-col img {
  width: 30px;
  height: 30px;
}

.reward-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.reward-container h2 {
  margin: 0px;
}

.reward-container img {
  margin-left: 5px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.profiles-button {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-family: Roboto-Bold;
  font-size: 14px;
  cursor: pointer;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--bg-color);
  transform: translateY(-0.25em);
  transition: all 0.25s ease-out;
}
